<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- - - - - - - - - - - - - -->
    <!-- Sale related configuration -->
    <!-- Sale DAO Config -->
    <bean id="saleDAO" class="com.spstudio.modules.sales.dao.impl.SaleDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <!-- Sale DAO Config -->
    <bean id="saleDiscountDAO" class="com.spstudio.modules.sales.dao.impl.SaleDiscountDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <bean id="saleServiceBase" class="com.spstudio.modules.sales.service.impl.SaleServiceImpl">
        <property name="saleDAO" ref="saleDAO"></property>
        <property name="saleDiscountDAO" ref="saleDiscountDAO"></property>
        <property name="memberService" ref="memberService"></property>
        <property name="stockService" ref="stockService"></property>
        <property name="configService" ref="configService"></property>
    </bean>
    <bean id="saleService" parent="transactionProxy">
        <property name="target" ref="saleServiceBase"></property>
    </bean>

   
</beans>