<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- - - - - - - - - - - - - -->
    <!-- Memeber related configuration -->
    <!-- Member Type DAO Config -->
    <bean id="memberTypeDAO" class="com.vivi.modules.member.dao.impl.MemberTypeDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
    <bean id="memberTypeServiceBase" class="com.vivi.modules.member.service.impl.MemberTypeServiceImpl">
        <property name="memberTypeDAO" ref="memberTypeDAO"></property>
    </bean>
    <bean id="memberTypeService" parent="transactionProxy">
        <property name="target" ref="memberTypeServiceBase"></property>
    </bean>

    <!-- Member DAO Config -->
    <bean id="memberDAO" class="com.vivi.modules.member.dao.impl.MemberDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
    <bean id="memberServiceBase" class="com.vivi.modules.member.service.impl.MemberServiceImpl">
        <property name="memberDAO" ref="memberDAO"></property>
    </bean>
    <bean id="memberService" parent="transactionProxy">
        <property name="target" ref="memberServiceBase"></property>
    </bean>
    <!-- - - - - - - - - - - - - -->
</beans>