<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- - - - - - - - - - - - - -->
    <!-- Memeber related configuration -->

    <!-- Member Asset DAO Config -->
    <bean id="memberAssetDAO" class="com.spstudio.modules.member.dao.impl.MemberAssetDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
    
    <!-- Member Type DAO Config -->
    <bean id="memberTypeDAO" class="com.spstudio.modules.member.dao.impl.MemberTypeDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <!-- Member DAO Config -->
    <bean id="memberDAO" class="com.spstudio.modules.member.dao.impl.MemberDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <!-- Member Bonus Point DAO Config -->
    <bean id="memberBonusPointDAO" class="com.spstudio.modules.member.dao.impl.MemberBonusPointDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <!-- Member Service Configuration -->
    <bean id="memberServiceBase" class="com.spstudio.modules.member.service.impl.MemberServiceImpl">
        <property name="memberDAO" ref="memberDAO"></property>

        <property name="memberAssetDAO" ref="memberAssetDAO"></property>
        <property name="memberTypeDAO" ref="memberTypeDAO"></property>
        <property name="bonusPointDAO" ref="memberBonusPointDAO"></property>
         <property name="configService" ref="configService"></property>

        <property name="permissionDAO" ref="permissionDAO"></property>

    </bean>
    <bean id="memberService" parent="transactionProxy">
        <property name="target" ref="memberServiceBase"></property>
    </bean>
    <!-- - - - - - - - - - - - - -->
</beans>