*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.my-header{
    width: 100%;
    background: url("../images/Rectangle.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.my-header .my-info{
    margin: 0 auto;
    padding: 0.50667rem 0 0.74667rem 0;
}
.my-header .my-info .my-face{
    width: 2.4rem;
    height: 2.4rem;
    border: 0.13333rem solid #cccccc;
    margin: 0 auto;
    -webkit-border-radius:10rem;
    -moz-border-radius:10rem;
    border-radius:10rem;
    position: relative;
}
.my-header .my-info .my-face img{
    position: absolute;
    top: 0;
    width: 2.4rem;
    height: 2.4rem;
    -webkit-border-radius:10rem;
    -moz-border-radius:10rem;
    border-radius:10rem;
}
.my-header .my-info .my-name{
    color: #fff;
    font-size: 0.42667rem;
    text-align: center;
    margin-top: 0.4rem;
}
.my-header .my-info .my-name .icon-icon_3,
.my-header .my-info .my-name .icon-icon_4{
    padding: 0.10667rem 0.10667rem 0.10667rem 0.10667rem;
    -webkit-border-radius:10rem;
    -moz-border-radius:10rem;
    border-radius:10rem;
    background: #04be02;
    /*font-size: 12px;*/
    font-size: 0.32rem;
}
.my-content{
    /*border-top: 10px solid #ccc;*/
    border-top: 0.26667rem solid #ddd;
}
.my-content>ul>li{
    /*height: 48px;*/
    height: 1.28rem;
    /*font-size:16px;*/
    font-size: 0.42667rem;
    color:#333333;
    /*line-height: 48px;*/
    line-height: 1.28rem;
    position: relative;
    border-bottom: 0.02667rem solid #ccc;
}
.my-content>ul>li span:first-child{
    color:#0c8bff;
    /*font-size: 18px;*/
    font-size: 0.48rem;
    position: absolute;
    left: 0.37333rem;
    /*top: 15px;*/
    top: 0.4rem;
}
.my-content>ul>li span:nth-child(2){
    /*margin-left: 50px;*/
    margin-left: 1.33333rem;
}
.my-content>ul>li span:nth-child(3){
    /*font-size:20px;*/
    font-size: 0.53333rem;
    color:#ff7200;
    /*text-align:right;*/
    position: absolute;
    /*right: 19px;*/
    right: 0.50667rem;
    top: 0;
}
.my-content>ul>li:last-child span:nth-child(3){
    margin-right: 0.9em;
}
.my-content>ul>li span:nth-child(4){
    /*font-size:20px;*/
    font-size: 0.4333rem;
    color:#999;
    /*text-align:right;*/
    position: absolute;
    /*right: 19px;*/
    right: 0.50667rem;
    top: 0.45667rem;
}