<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- - - - - - - - - - - - - -->
    <!-- Product related configuration -->
    <!-- Product DAO Config -->
    <bean id="productDAO" class="com.spstudio.modules.product.dao.impl.ProductDAOImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
    <bean id="productServiceBase" class="com.spstudio.modules.product.service.impl.ProductServiceImpl">
        <property name="productDAO" ref="productDAO"></property>
    </bean>
    <bean id="productService" parent="transactionProxy">
        <property name="target" ref="productServiceBase"></property>
    </bean>

   
</beans>